GOOGLE_API_KEY=for youtube api
MAGIC_SECRET=the secret for magic token signing
HASURA_URL=your hasura app url
HASURA_SECRET=the admin key for hasura
HASURA_JWT_KEY=hasura jwt signing key
ENVIRONMENT=DEVELOPMENT
JWT_SECRET=hasura jwt signing key
MAX_AGE=604800
JWT_COOKIE_NAME=JWT_AUTH